<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gym Friendly App</title>
    <link rel="icon" href="/images/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
      .gymSubtitle {
        text-align: center;
        font-family: 'Passion One', cursive;
        font-size: 100px;
      }

      .intro {
        align: center;
      }

      .crossfitClass {
        width: 100%;
        display: block;
      }

      .form-all {
border: medium solid red;
}
    </style>
    {{{style}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </head>
  <body>
    <div align="center">
      <p>If you have any queries or require support get in touch with one of our team in the below contact form</p>
      <p>We'll endeavour to get back to you within 24 hours</p>
      <form action="mailto:someone@example.com" method="post" enctype="text/plain">
      Name:<br>
      <input type="text" name="name"><br>
      E-mail:<br>
      <input type="text" name="mail"><br>
      Comment:<br>
      <input type="text" name="comment" size="50"><br><br>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
      </form>
      <br>
      <p>Alternatively email us <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Here</a> and a friendly rep will help you out</p>
      <br>
      <br>
      <img class="crossfitClass" src="images/gym-pic3.jpg" alt="crossfitClass" style="text-align: left;">
      <br>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
