<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Gym Friendly App</title>
  <meta name="description" content="A Gym Finding App">
  <meta name="author" content="Gym Finder">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" type="image/ico" href="../public/images/favicon.ico"/>
</head>
<body>
  <div class="container">
    <main class="row textpanel">
      <div class="row">
        <div class="twelve columns">
          <h1><a href="/">Gym Friendly</a></h1>
          <h3>You'll Never Train Alone</h3>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <img class="crossfitClass" src="images/gym-pic1.jpg" alt="crossfitClass" style="text-align: left;">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          </br>
          <a href="/about" class="button">About</a>
          <a href="/contact" class="button">Contact</a>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <section>
            <br>
            <br>
            <br>
            <h5>Login details</h5>
            <a href="/sign-in" class="button">Sign In</a>
            <a href="/sign-up" class="button">Sign Up</a>
            <a href="/sign-out" class="button">Sign Out</a>
          </section>
        </div>
        <div class="six columns">
          <section>
            <br>
            <br>
            <br>
            <h5>Motivation Generator</h5>
            <button id="randomButton">Inspire me</button>
            <div id="quoteOutput">dummy output</div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <section>
            <br>
            <br>
            <br>
            <h5>Where do you wanna train today?</h5>
            <div>
    					<a href="/gym-akl" class="button">Auckland</a><br>
              <a href="gym-wgtn" class="button">Wellington</a><br>
    					<a href="gym-chch" class="button">Christchurch</a><br>
    				</div>
          </section>
        </div>
      </div>
    </main>
    <footer class="row textpanel">
      <br>
      <br>
      <br>
      <p>Copyright 2016</p>
    </footer>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
