

h1 {
text-align: center;
font-family: 'Passion One', cursive;
font-size: 150px;
}

body {
background-color:
}


h3 {
text-align: center;
}


.nav-row {
text-align: center;
}

.crossfitClass {
 width: 100%;
 display: block;

}

body {
    background-color:lightgreen;
}

@media only screen and (max-width: 950px) {
    body {
        background-color:red;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-color:lightblue;
    }
}
