

h1 {
text-align: center;
font-family: 'Passion One', cursive;
font-size: 150px;
}

body {
background-color:
}


h3 {
text-align: center;
}


.nav-row {
text-align: center;
}

.gorillaMain {
      width: 300px;
      padding-left: 500px;
}
